.left-right-section {
    .left-right-img {
        height: 568px;
    }
}

.brand-slider-section {
    .brand-logo {
        max-width: 200px;
        width: 100%;
        height: fit-content;
        mix-blend-mode: multiply;
    }
}

.service-cards {
    overflow: auto;
}