.card-hover {
    .img {
        transform: scale(1);
        transition: 0.3s all ease-in-out;
    }

    &:hover {
        .img {
            transform: scale(1.1);
        }
    }
}

.service-card {
    padding: 24px 50px 24px 30px;
    box-shadow: 0px 0px 30px $color-0000000A;

    .service-img {
        height: 398px;
    }

    ul {
        margin-bottom: 0px !important;
        padding-left: 0px !important;
        list-style: none;
        display: flex;
        flex-direction: column;

        li {
            display: inline-flex;
            align-items: center;
            padding-left: 15px !important;
            position: relative;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0px !important;
            }

            &::before {
                content: "";
                width: 7px;
                height: 7px;
                background-color: $color-212121;
                border-radius: 2px;
                display: inline-flex;
                position: absolute;
                top: 10px;
                left: 0;
            }
        }
    }
}

.resource-img {
    height: 305px;
}