.border-707070 {
    border: 1px solid rgba($color: $color-707070, $alpha: 0.2);
}

.prefix {
    background-color: rgba($color: $color-212121, $alpha: 0.2);
}

.border-E0E0E0 {
    border: 1px solid $color-E0E0E0;
}

.social-icon-content {
    .social-icons {
        height: 48px;
        width: 48px;
        border: 1px solid $color-A5B6BE;

        img {
            height: 18px;
        }
    }
}